
$accordion-arrow-size: 14px;

.accordions {
	margin: 0 -20px;
	padding: 10px 0;

	@include respond-to( 768px ) {
		margin: 0;
	}

	.accordion {
		margin-bottom: 7px;

		.accordion-handle {
			position: relative;
			color: $grey;
			padding: 15px 10px 15px 30px;
			cursor: pointer;
			font-size: 1.2em;

			&:hover {
				color: $red-light;
				cursor: pointer;
			}

			&:after {
				position: absolute;
				left: 10px;
				top: 50%;
				margin-top: -( $accordion-arrow-size / 2 );
				width: $accordion-arrow-size;
				height: $accordion-arrow-size;
				@include font-awesome;
				content: $fa-var-chevron-right;
				font-size: $accordion-arrow-size;
				line-height: $accordion-arrow-size;
				pointer-events: none;
			}
		}

		.accordion-content {
			display: none;

			h4 {
				padding: 11px 0 4px;
			}
		}

		&.open {
			.accordion-handle {
				color: $red-light;

				&:after {
					content: $fa-var-chevron-down;
				}
			}

			.accordion-content {
				display: block;
				padding: 0 10px 10px 20px;

				@include respond-to( 480px ) {
					padding: 0px 10px 5px 30px;
				}
			}
		}
	}
}

