

.alum {
	border: 1px solid #888;
	background: white;
	padding: 10px;

	@include respond-to( 550px ) {
		width: 47%;
		float: left;
		margin: 0 3% 10px 0;
		min-height: 375px;
	}

	@include respond-to( 768px ) {
		width: 30%;
	}

	@include respond-to( 1024px ) {
		width: 23%;
		margin: 0 2% 10px 0;
	}

	& > a {
		text-decoration: none;
		color: inherit;
	}

	h5 {
		font-weight: bold;
		color: $red-dark;
	}

	.info {
		font-size: .85em;
	}
}


.alum-details {
	position: relative;
	background: white;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 40px auto;

	.details-photo {
		float: left;
		width: 40%;
		margin: 0 15px 15px 0;
	}
}

.alum-filter {
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #eee;
	margin: 0 0 10px 0;

	input[type=text], select {
		font-size: 14px;
		padding: 7px 12px;
	}
}

.alum-add-story {
	float: right;
}

.alum-back {
	float: right;
	margin-right: 5px;
	color: #666;
}

.alum-add-story-form {
	display: none;
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px 10px;
	margin-bottom: 20px;
}

.year-more-details {
	display: none;
}

.class-title {
	color: $red-dark;
	font-weight: 700;
	opacity: 1;
}

.class-information {
	position: relative;

	.alum-facebook {
		position: absolute;
		top: 0;
		right: 0;
	}

	@include respond-to( 768px ) {
		.third {
			padding-top: 0;
		}

		.third:first-child {
			padding-left: 0;
		}
	}
}

.alum-banner-container {
	p {
		padding: 0;
	}

	img {
		width: 100%;
	}
}