

.content-area {
	padding: 20px 0;

	@include respond-to( 768px ) {
		padding: 30px 20px;
	}

	@include respond-to( 1099px ) {
		min-height: 550px;
	}
}


.content-narrow {
	padding: 15px 20px;
	max-width: 700px;
	margin: 0 auto;

	@include respond-to( 768px ) {
		padding: 40px 0;
	}
}


.quarter, .third, .half, .two-third, .three-quarter {
	padding: 20px;
	
	@include respond-to( 768px ) {
		padding: 20px 15px;
		float: left;
	}

	&.no-pad {
		padding: 0;
		@include respond-to( 768px ) { padding: 0; }
	}
}

.full-width {
	padding: 20px;
	@include respond-to( 768px ) { padding: 20px 15px; }
}

@include respond-to( 768px ) {
	.quarter { width: 25%; }
	.third { width: 33.33%; }
	.half { width: 50%; }
	.two-third { width: 66.6%; }
	.three-quarter { width: 75%; }
}



.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.alignleft { float: left; margin: 0 15px 15px 0; }
.alignright { float: right; margin: 0 0 15px 15px; }



.three-column {
	padding: 0 0 30px;
}


.image {
	@include respond-to( 768px ) {
		width: 33.33%;

		&.left {
			float: left;
		}
		
		&.right {
			float: right;
		}
	}

	img {
		display: block;
		height: auto;
	}
}


.btn {
	padding: 12px 16px;
	background: lighten( $grey, 50% );
	color: $blue;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		background: lighten( $grey, 45% );
	}
}


a.button {
	background: $grey-light url(../img/more-arrow.png) right center no-repeat;
	border: 0;
	border-right: 5px solid $grey-light;
	color: $grey;
	padding: 8px 40px 8px 8px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		opacity: .8;
	}
}


