

.footer {
	background-color: $grey;
	color: white;
	text-align: center;
	padding: 10px 20px;

	nav {
		@include clearfix;

		li:first-child a {
			border-top: 0;

			@include respond-to( 768px ) {
				border-left: 0;
			}
		}

		@include respond-to( 480px ) {
			li:nth-child(2) a, li:nth-child(4) a, li:nth-child(6) a {
				border-left: 4px solid $red-dark;
				margin-bottom: 5px;
			}
		}

		@include respond-to( 768px ) {
			li:nth-child(4) a {
				border-left: 0;
			}

			li:nth-child(2) a, li:nth-child(3) a, li:nth-child(5) a, li:nth-child(6) a {
				border-left: 4px solid $red-dark;
				margin-bottom: 5px;
			}
		}

		@include respond-to( 1100px ) {
			li:nth-child(1) a, li:nth-child(2) a, li:nth-child(3) a, li:nth-child(4) a, li:nth-child(5) a, li:nth-child(6) a {
				border-left: 4px solid $red-dark;
				margin-bottom: 0;
			}

			li:nth-child(1) a {
				border-left: 0;
			}
		}

		a {
			color: white;
			padding: 15px 5px;
			display: block;
			text-decoration: none;
			transition: color 400ms ease-in-out;
			border-top: 4px solid $red-dark;
			font-size: .85em;
			
			span {
				display: block;
				font-size: 1.8em;
				line-height: 1.2em;
				text-transform: uppercase;
			}

			&:hover {
				color: lighten( $grey, 50% );
			}

			@include respond-to( 480px ) {
				float: left;
				width: 50%;
				border: 0;

			}

			@include respond-to( 768px ) {
				width: 33%;
				border: 0;
			}

			@include respond-to( 1100px ) {
				width: 16.5%;
				border-left: 4px solid $red-dark;
			}
		}

	}
}


.colophon {
	padding: 20px;

	.campus-map {
		display: block;
		padding: 20px;
		line-height: 40px;
		background: url(../img/map-icon.jpg) right center no-repeat;
	}
}

