

.footer {
	background-color: $grey;
	color: white;
	text-align: center;
	padding: 10px 20px;

	nav {
		padding-top: 15px;

		li:first-child a {
			border-top: 0;
		}

		a {
			color: white;
			padding: 15px 5px;
			display: block;
			text-decoration: none;
			transition: color 400ms ease-in-out;
			border-top: 4px solid $red-dark;
			
			span {
				display: block;
				font-size: 2em;
				line-height: 1.2em;
				text-transform: uppercase;
			}

			&:hover {
				color: lighten( $grey, 50% );
			}

			@include respond-to( 768px ) {
					display: inline;
					display: inline-block;
			}
		}

	}
}


.colophon {
	padding: 20px;

	.campus-map {
		display: block;
		padding: 20px;
		line-height: 40px;
		background: url(../img/map-icon.jpg) right center no-repeat;
	}
}

