header {
	position: relative;
	background: darken( $red, 7% );
	z-index: 100;

	nav {
		@include clearfix;

		ul li {
			float: left;
			position: relative;

			a {
				@include font-bold;
				display: block;
				padding: 10px 12px;
				text-decoration: none;
				color: white;
				font-size: 10pt;
				text-transform: uppercase;
				transition: background-color 300ms ease-in-out;

				&:hover {
					color: white;
				}
			}

			&.current-menu-item a {
				color: $red;
				@include font-medium;
			}

			ul {
				display: none;
				position: absolute;
				top: 44px;
				width: 220px;
				background: white;
				z-index: 1000;
			}

			&:hover {
				& > a {
					background-color: darken( $red, 2% );
				}

				ul {
					display: block;

					li {
						float: none;
						display: block;

						a {
							@include font;
							color: darken( $grey, 5% );
							background-color: white;
							padding: 6px 10px;

							&:hover {
								color: darken( $grey, 3% );
								background-color: lighten( $grey, 50% );
							}
						}

						ul {
							display: none;
							position: absolute;
							top: 0;
							left: 220px;
							width: 220px;
						}

						&:hover {
							& > a {
								background-color: lighten( $grey, 45% );
							}

							ul {
								display: block;

								a {
									background-color: white;

									&:hover {
										color: darken( $grey, 3% );
										background-color: lighten( $grey, 50% );
									}
								}
							}
						}
					}
				}
			}
		}
  	}
}

