
$menu-breakpoint: 900px;

header {
	position: relative;
	z-index: 1000;
	background: $red-dark;
	@include clearfix;
	
	.wrap {
		@include clearfix;
	}
	
	.logo {

		img {		
			height: 80px;
			float: left;
		}

		@include respond-to( $menu-breakpoint ) {
			img {
				float: none;
				height: auto;
			}
		}
	}

	nav {
		button.menu-toggle {
			float: right;
			background: $red-dark url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMAsfS51A2+6cnu0ds/UQcva7D7E8RTPvJoAAAAW0lEQVQY063POQKAIAwF0W+ComwqkPtfVWsSOl453SATeYUoo4qpwovJI7lwKsElLFXslLgfSucEEhNBJpBDDG7wpwyUtiutYKWb+d0GL/ONKKY4/3iELoXk+QCXmhAnR7E6TAAAAABJRU5ErkJggg==) center center no-repeat;
			text-indent: -300px;
			width: 70px;
			height: 80px;
			padding: 0;
			overflow: hidden;
			cursor: pointer;
			border: 0;
			box-shadow: none;

			@include respond-to( $menu-breakpoint ) {
				display: none;
			}
		}

		ul {
			@include clearfix;
			display: none;

			@include respond-to( $menu-breakpoint ) {
				display: block;
			}

			li {
				&.menu-item-2258 > a {
					color: $blue-light;
				}

				a {
					@include font-bold;
					display: block;
					padding: 10px 15px;
					text-decoration: none;
					color: white;
					font-size: 10pt;
					text-transform: uppercase;
					transition: background-color 300ms ease-in-out;

					&:hover {
						color: white;
					}

					@include respond-to( 1040px ) { padding: 10px 24px; }
					@include respond-to( 1220px ) { padding: 10px 32px; }
				}

				@include respond-to( $menu-breakpoint ) {
					float: left;
					position: relative;
				}

				&.current-menu-item > a {
					color: white;
					background-color: $red-light;
				}

				ul {
					display: none;

					@include respond-to( $menu-breakpoint ) {
						position: absolute;
						top: 44px;
						left: 0;
						width: 220px;
						z-index: 1000;
					}

					a {
						@include font;
						color: darken( $grey, 5% );
						background: lighten( $grey, 55% );
						padding: 6px 10px;

						&:hover {
							color: $grey;
							background-color: lighten( $grey, 50% );
						}
					}
				}
				
				@include respond-to( $menu-breakpoint ) {
					&:hover {
						& > a {
							background-color: darken( $red-light, 2% );
						}

						ul {
							display: block;

							li {
								float: none;
								display: block;

								a {
									@include font;

									&:hover {
										color: darken( $grey, 3% );
									}
								}

								ul {
									display: none;
									position: absolute;
									top: 0;
									left: 220px;
									width: 220px;
								}

								&:hover {
									ul {
										display: block;

										a {
											background-color: white;

											&:hover {
												color: darken( $grey, 3% );
												background-color: lighten( $grey, 50% );
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
  	}

  	.search {
  		position: relative;
  		height: 40px;
  		border-bottom: 1px solid lighten( $grey, 50% );

  		@include respond-to( $menu-breakpoint ) {
			position: absolute;
			right: 5%;
			top: 50%;
			margin: -20px 0 0;
			width: 400px;
  		}
  	}
}

