

.search-results-list {
	.search-result {
		border-bottom: 1px solid $grey-light;
		padding: 10px 0;
	}
	.faculty-entry {
		padding: 10px 0;
	}
}


.pagination {
	padding: 10px 0;
	text-align: center;
	@include font-title;

	.current {
		background: $red-dark;
		color: white;
		padding: 5px 7px;
	}

	a {
		border: 1px solid lighten( $red-light, 50% );
		color: $red-dark;
		padding: 4px 6px;
		text-decoration: none;

		&:hover {
			background: lighten( $red-light, 50% );
			border: 1px solid lighten( $red-light, 30% );
		}
	}
}


.search {
	position: relative;
	height: 40px;
	border-bottom: 1px solid lighten( $grey, 50% );

	.content-narrow & {
		max-width: 400px;
		border: 1px solid $red-light;
		height: 42px;
		margin: 20px 0;
	}

	input[type=text] {
		position: absolute;
		top: 0;
		left: 0;
		right: 40px;
		display: block;
		margin: 0;
		width: 100%;
		border: 0;
		line-height: 40px;
		font-size: 14px;
		padding: 0 15px;
		text-transform: uppercase;

		@media screen and (min-width:0) and (min-resolution: +72dpi) { 
			height: 40px;
		}
	}

	button {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background: $red-light;
		color: white;
		margin: 0;
		border: 0;
		box-shadow: none;
		text-align: center;
		vertical-align: middle;
	}
}

