

.sidebar {
	.widget_video, .tribe-events-list-widget, .tribe-events-adv-list-widget, .tribe_mini_calendar_widget, .widget_recent_entries, .postmetavideo, .cat-post-widget, .widget_categories {
		margin-bottom: 30px;
		position: relative;
		padding-top: 25px;
	}
}

