

// set colors
$grey: #5f626f;
$grey-light: #ebeae9;
$red-dark: #6a0a1b;
$red-light: #a91c3a;
$black: #25252A;
$blue: #015e83;
$blue-light: lighten( $blue, 10% );
$teal: #00a0df;
$orange: #fecb00;

$link-color: $red-light;


// import partials
@import "mixins";

@import "fonts";

@import "base";

@import "header";

@import "showcase";

@import "events";

@import "infographic";

@import "menus";

@import "content";

@import "search";

@import "widgets";

@import "photos";

@import "tabs";

@import "accordions";

@import "footer";

@import "emergency";

@import "home";

@import "faculty";

@import "news";

@import "jobs";

@import "area";

@import "map";

@import "fund";

@import "lightbox";


