

// set colors
$grey: #5f626f;
$grey-light: #ebeae9;
$red-dark: #6a0a1b;
$red-light: #a91c3a;
$black: #25252A;

$link-color: $red-light;


// mixin library
@import "mixins";

// font import and mixins
@import "fonts";

// base styles
@import "base";


// then we'll include the section-specific styles
@import "header";
@import "showcase";
@import "content";
@import "footer";


// home-specific styles
@import "home";


// magnific stuff
@import "lightbox";

